body {
    /* AQUÍ ESTÁ LA MAGIA: Agregamos un linear-gradient negro al 80% de opacidad antes de la imagen */
    background-image: linear-gradient(rgba(5, 10, 20, 0.8), rgba(5, 10, 20, 0.8)), url('img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: #00f2ff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    
    /* Mantenemos tu configuración para poder bajar a ver el pie de página */
    overflow-x: hidden; 
    overflow-y: auto;   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
canvas {
    border: 3px solid #00eaff;
    background: #050a1a;
    box-shadow: 0 0 25px #00eaff;
}

.hud {
    font-size: 18px;
    font-weight: bold;
    color: #00eaff;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #00eaff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: #00eaff;
    z-index: 10;
}

/* =========================================
   ESTILO PARA EL RECUADRO DE RÉCORD (HUD)
   ========================================= */
.record-box {
    background-color: rgba(255, 204, 0, 0.1);
    border: 1px solid #ffcc00;
    color: #ffcc00;
    text-shadow: 0 0 5px #ffcc00;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.3);
    font-weight: bold;
    letter-spacing: 1px;
}